body {
    background-color:#ffffff;
    color:white;
    margin:0 auto;
    
}

#main-div
{
    font-family:Monospace;
    font-size:8px;
    margin:0 auto;
    background-color:black;
    color:white;
    border:1px groove  black;
    border-radius:20px;
}
#ok
{
   font-family:Monospace;
    font-size:20px;
    margin:0 auto;
    background-color:black;
    color:white;
    border:1px groove  lime;
    border-radius:20px; 
    
}
#inner-1
{
    
    font-family: Monospace;
    font-size:16px;
    box-shadow:2px 2px 2px 2px black;
    margin:5%;
    background-color:#000066;
    color:#00fa66;
    border:1px solid black;
    border-radius:5px;
    text-shadow:2px 2px 5px #ff0000;
    
}
#inner-0
{
    border:1px solid black;
    margin:10%;
    background-color:#009900;
 box-shadow:2px 2px 2px 2px black;
    border-radius:10px;
}


.c3
{

width:100%;
height:30px;
background-color:lime;
position:bottom;
color:black;
text-shadow:5px 5px 5px green;
font-size:30px;
font-family:font-family:Aldrich, Monospace;
font-weight:bold;
border-radius:5px;
}
button
{
    float:right;
    background-color:green;
    color:white;
    font-size:20px;
}
#name
{
    font-family:Aldrich, Monospace;
}
